.rating-questions {
    .rating-questions__label {
        margin-bottom: 0.5rem;
    }

    .rating-questions__radio {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
}
