.text-question {
	margin-bottom: 2rem;

	.text-question__input {
		height: 2.5rem;
		border: $border-sml-gray;
		border-radius: $border-radius-sml;
		margin-top: 0.5rem;
		padding: 0 0.5rem;
		font-size: $font-size-semi-medium;
		color: $color-gray-dark;
	}
}
