.card {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 2rem;
	min-width: 10rem;
	max-width: 70rem;
	border: $border-sml;
	border-radius: $border-radius-sml;
}

.card::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: url("../../img/film.jpg") center/cover;
}
