.success {
	font-size: $font-base;
	text-align: $align-center;
	.success__answers--question {
		font-weight: $font-bold;
		color: $color-green;
	}
	.success__answers--answer {
		padding-left: 0.5rem;
	}
}
