.survay-form {
	position: relative;

	.survay-form__title {
		text-align: center;
	}
	.survay-form__description > p {
		margin: 0.5rem 0;
	}
	.survay-form__form {
		margin: 2rem 0;
		border: $border-sml;
		padding: 1rem;
	}
}
